html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
   border: 0;
   margin: 0;
   font-size: 100%;
   font: inherit;
}

@font-face  {
  font-family: 'SourceSansPro-Regular';
  src: url('SourceSansPro-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face  {
  font-family: 'SourceSansPro-Regular';
  src: url('SourceSansPro-Semibold.otf');
  font-style: normal;
  font-weight: bold;;
}


body {
  font-family: 'SourceSansPro-Regular', Geneva, Tahoma, sans-serif;
  background-color: #eeffcc;
}

#wrapper {
  /*margin: 0 auto 100px;*/
  /*width: 800px;*/
  /*padding: 60px;*/
  /*border-radius: 24px;*/
}

main {
  margin-top: 20px;
}

.content {
  /*margin: 0 10% 0 5%;*/
}

header {
  background-color: yellowgreen;
}

.header-group {
  padding: 1em;
}

header h1 {
  display: inline;
  position: relative;
  font-size: 3.5em;
  color: white;
  /*margin: 0 .5em .5em 1em;*/
  padding: .5em;
  vertical-align: middle;
}

#bike {
  fill: #fff;
  display: inline;
  width: 8%;
  /*padding: 0 2em 3em 0;*/
  vertical-align: middle;
  margin-top: 0;
}


.admin {
  float:right;
  margin-right: 1em;
}


h2 {
  font-size: 2em;
  font-weight: bold;
  padding: .5em .5em .5em .25em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em .5em .5em .25em;
}

textarea.comment {
  height: 120px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

footer {
  float:right;
}

.text-link {
  text-align:right;
}

.alert {
  background-color: #eeffcc;
  /*color: white;*/
}

.buttons {
  margin: 1em 0 1em 1em;
}

.app-modal-window .modal-dialog {
  width: 30em;
}

.optional-info {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  margin-bottom: .5em;
}

label {
  font-weight: normal;
  font-size: .9em;
  margin-top: 0.5em;
}

.statezip {
  padding-top: .5em;
}

.state-dropdown {
  margin-right: .5em;
}

.modal-footer.input-form {
  padding: 15px 15px 0 0;
}

.leaflet-popup-content {
  font-size: 1.5em;
}
