<!-- Map -->
<leaflet defaults="map.defaults" layers="map.layers" lf-center="map.minneapolis" height="700px" width="1600px" lf-draw="map.drawOptions" geojson="geojson" markers="markers"></leaflet>
<div width="1600px" class="buttons">
  <button class="btn btn-primary" ng-click="getFeaturesFromDB()">See Comments</button>
  <button class="btn btn-primary" ng-click="hideGeoJSON();" ng-if="geojson">Clear Comments</button>
  <a class="admin" href="#admin-view">Admin login</a>
</div>
<footer>
</footer>



<!-- <div id="controls">
    <p>Click points for more information, or add your own.</p>
    <input type="button" onclick="startEdits()" value="Click to Start Editing">
    <input type="button" onclick="stopEdits()" value="Stop Your Editing Session"><br>
</div> -->
