<!-- Map -->
<leaflet defaults="map.defaults" layers="map.layers" lf-center="map.minneapolis" height="600px" width="1200px" lf-draw="map.drawOptions" geojson="geojson" markers="markers"></leaflet>
<button class="btn btn-primary" ng-click="getFeaturesFromDB()">See Existing Comments</button>
<button class="btn btn-primary" ng-click="hideGeoJSON()" ng-if="geojson">Hide Comments</button>
<footer>
  <a href="#admin-view">Admin login</a>
</footer>



<!-- <div id="controls">
    <p>Click points for more information, or add your own.</p>
    <input type="button" onclick="startEdits()" value="Click to Start Editing">
    <input type="button" onclick="stopEdits()" value="Stop Your Editing Session"><br>
</div> -->
