<!-- Map -->
<leaflet defaults="map.defaults" layers="map.layers" lf-center="map.minneapolis" height="600px" width="1200px" lf-draw="map.drawOptions" geojson="geojson" markers="markers"></leaflet>
<button ng-click="getFeaturesFromDB()">See Existing Comments</button>
<button ng-click="hideComments()">Hide Comments</button>



<!-- <div id="controls">
    <p>Click points for more information, or add your own.</p>
    <input type="button" onclick="startEdits()" value="Click to Start Editing">
    <input type="button" onclick="stopEdits()" value="Stop Your Editing Session"><br>
</div> -->
